<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Christmas Lights</title>

    <link href="static/lib/fonts.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="static/lib/vuetify.min.css" rel="stylesheet">

  </head>
  <body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                  <v-row>
                    <v-col md="1">
                      <light-card v-for="light in lights"
                        :key="light.channel"
                        :name="light.name"
                        :channel="light.channel"
                        :id="light.id"
                        :state="light.state">

                      </light-card>
                    </v-col>
                  </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="static/lib/vue.js"></script>
    <script src="static/lib/vuetify.js"></script>
    
    <script src="static/card.js"></script>

    <script src="static/app.js"></script>
  </body>
</html>